##### ASSIGNMENT1

In [5]:
o={1,2,3,4,5,6,7,8,9,10,11,12}
a={2,4,6,8,10}
b={3,8,11,12}
c={2,3,6,8,9,11}

In [6]:
#intersection
a.intersection(b)

{8}

In [7]:
#union
a.union(b)

{2, 3, 4, 6, 8, 10, 11, 12}

In [8]:
#complement
a_complement=o-a
print(a_complement)

{1, 3, 5, 7, 9, 11, 12}

In [9]:
#absolute complement
a_complement=o-a
print(a_complement)

{1, 3, 5, 7, 9, 11, 12}

In [ ]:
#complement of union of a and b
a_union_b_complement = o - (a | b)
print(a_union_b_complement)

{1, 5, 9, 7}

In [ ]:
#B intersect complement of C
c_complement=o-c
ans=b.intersection(o-c)
print(ans)

{12}

In [12]:
#relative complement of b in a

r_complement=a-b
print(r_complement)

{2, 10, 4, 6}

In [13]:
ans =c-(b-a)
print (ans)

{8, 9, 2, 6}

In [14]:
ans1=c.intersection(a)
ans2=c-b
res= ans1 | ans2
print(res)

{2, 6, 8, 9}

##### SET OPERATORS IN PYTHON

In [18]:
Nina = set(["Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"])
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])
Eve = set(["Rabbit", "Turtle", "Goldfish"])

In [19]:
# after eves' turtle passing away
Eve = set(["Rabbit", "Turtle", "Goldfish"])
Eve.remove("Turtle")
print(Eve)

{'Rabbit', 'Goldfish'}

In [10]:
#after Nina updating her pet list to include mary's pets

Nina.update(Mary)
print(Nina)

{'Chicken', 'Horse', 'Dog', 'Cat', 'Donkey', 'Goldfish', 'Rabbit', 'Parrot', 'Chinchilla'}

In [16]:
#after eve taking some pets from Nina

Nina.intersection_update(Eve)
print(Nina)

{'Rabbit', 'Goldfish'}

##### EUROPEAN COUNTRIES EXERCISE

In [27]:
import pandas as pd

# Load Europe and EU
europe = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'Europe') 
eu = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'EU')

# Your code here to remove any whitespace from names
def clean_with_fillna_and_strip_names(df):
    for col in df.select_dtypes(include='object').columns:
        df[col] = df[col].str.strip()

In [23]:
df = pd.read_excel(r"Europe_and_EU.xlsx")
df.head()

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]
3,4.0,France,65233271,7.76,0.39,261022,177,66991000,2017-03-01 00:00:00,EU,[3]
4,5.0,United Kingdom,65110276,7.75,0.75,484000,92,66573504,2016-12-30 00:00:00,EU,Official estimate

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 11 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Rank                                49 non-null     float64
 1   Country                             57 non-null     object
 2   Population                          57 non-null     int64
 3   % of population                     57 non-null     float64
 4   Average relative annual growth (%)  57 non-null     float64
 5   Average absolute annual growth      57 non-null     int64
 6   Estimated doubling time (Years)     57 non-null     object
 7   Official figure (where available)   57 non-null     int64
 8   Date of last figure                 57 non-null     object
 9   Regional grouping                   38 non-null     object
 10  Source                              57 non-null     object
dtypes: float64(3), int64(3), object(5)
memory usage: 5.0+ KB

In [28]:
#previewing the data
europe.head(3)

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]

In [25]:
eu.head(3)

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
0,1,Germany,82800000,16.18,0.76,628876,82576900,2017-03-31,Official estimate
1,2,France,67210459,13.10,0.40,265557,67174000,2018-01-01,Monthly official estimate
2,3,United Kingdom,65808573,12.86,0.65,428793,65648100,2017-06-30,Official estimate

In [37]:
import pandas as pd

# Load raw data from both sheets
file_path = "Europe_and_EU.xlsx"  # update path if needed
excel_file = pd.ExcelFile(file_path)
europe_raw = excel_file.parse('Europe')
eu_raw = excel_file.parse('EU')

# Extract and clean the 'country' column from each sheet
# Strip whitespace, convert to lowercase for accurate comparison
europe_countries_raw = set(europe_raw['Country'].astype(str).str.strip().str.lower().dropna().unique())
eu_countries_raw = set(eu_raw['Country'].astype(str).str.strip().str.lower().dropna().unique())

# Check if all EU countries are in the Europe sheet
is_subset = eu_countries_raw.issubset(europe_countries_raw)

# Show countries that are in EU but not in Europe
not_in_europe = eu_countries_raw - europe_countries_raw

# Output the result
print("are all EU countries a subset of Europe list?:", is_subset)
if not is_subset:
    print("is not EU countries missing from Europe sheet:")
    for country in sorted(not_in_europe):
        print("-", country)

are all EU countries a subset of Europe list?: True

In [38]:
# Find the set of countries that are in Europe but not the EU
import pandas as pd

# Load raw data from Excel sheets
file_path = "Europe_and_EU.xlsx"  # replace with full path if needed
excel_file = pd.ExcelFile(file_path)
europe_raw = excel_file.parse('Europe')
eu_raw = excel_file.parse('EU')

# Extract and clean the 'Country' column from both
europe_countries_raw = set(europe_raw['Country'].astype(str).str.strip().str.lower().dropna().unique())
eu_countries_raw = set(eu_raw['Country'].astype(str).str.strip().str.lower().dropna().unique())

# Find countries in Europe but not in the EU
non_eu_europe = europe_countries_raw - eu_countries_raw

# Output the result
print(" Countries in Europe but not in the EU:")
for country in sorted(non_eu_europe):
    print("-", country)

 Countries in Europe but not in the EU:
- albania
- andorra
- armenia
- azerbaijan
- belarus
- bosnia and herzegovina
- faroe islands (denmark)
- georgia
- gibraltar (uk)
- guernsey (uk)
- iceland
- isle of man (uk)
- jersey (uk)
- kosovo
- liechtenstein
- macedonia
- moldova
- monaco
- montenegro
- norway
- russia
- san marino
- serbia
- svalbard (norway)
- switzerland
- turkey
- ukraine
- vatican city
- åland islands (finland)